/* Splash */
.splash {
  background-repeat:  no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;

  h1 {
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 4rem;
    margin-bottom: 1rem;
    margin-top: 0;
    strong {
      font-weight: bold;
    }
  }
  .button {
    margin-top: 3rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.7rem;

    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .container {
    max-width: 800px;
  }

  &.has-aside-image {
    .container {
      padding-right: calc(30% + 4rem);
      position: relative;
    }
    @media screen and (max-width: 1024px) {
      .container {
        padding-right: calc(300px + 1.5rem);
      }
      .aside-image {
        width: 300px;
      }
    }
  }
  .aside-image {
    display: block;
    position: absolute;
    right: 4rem;
    top: 4rem;
    width: 30%;
    max-height: 90%;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      box-shadow: -3px -3px 18px rgba(0,0,0,0.15);
    }
  }
}

/* Skills List */
.skills-list.container {
  max-width: 70%;
  position: relative;
  margin-top: -3rem;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 3px 18px rgba(0,0,0,0.1);
  padding: 3rem;
  text-align: center;

  ul {
    list-style-type: none;
    padding: 0;
    li {
      line-height: 2;
    }
  }
}

/* Project Feed */
.project-feed {
  padding: 5rem 0;
  .project-card {
    margin-bottom: 5rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: -3px -3px 15px 4px rgba(0,0,0,0.1);
    position: relative;
    min-height: 400px;
    padding-right: calc(50% + 9rem);
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
    h2 {
      font-size: 2.5rem;
      margin-bottom: .5rem;
      margin-top: 0;
      transition: all 0.2s ease-in-out;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.8rem;
      opacity: 0.8;
    }
    .button {
      visibility: hidden;
      margin-top: .5rem;
      margin-right: auto;
      background: white;
      color: $black;
      transition: all 0.3s;
    }
    &:hover {
      box-shadow: none;
      h2 {
        text-decoration: underline;
      }
      .project-card-image {
        bottom: -2.5rem;
      }
    }
    .project-card-image {
      transition: all 0.2s ease-in-out;
      width: 50%;
      overflow: hidden;
      position: absolute;
      right: 3rem;
      bottom: -3rem;
      height: calc(100% - 3rem);
      width: 50%;
      box-shadow: -1px -1px 2px 1px rgba(0,0,0,0.1);
      border-radius: 10px 10px 0 0;
      img {
        min-width: 100%;
        height: 100%;
      }
    }
    /* Specific Projects */
    &.project-geospatial {
      background-color: #222;
      color: white;
    }
    &.project-oceanography {
      background-color: #0e2d41;
      color: white;
    }
  }
}

/* Experience */
.bottom-callout {
  padding: 5rem;
  background: rgb(0,0,0);
  text-align: center;
  background: linear-gradient(151deg, rgba(0,0,0,1) 0%, #0e2d41 100%);
  color: white;
}
/* Button */
.button {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid white;
  opacity: 1;
  transition: opacity 150ms;
  outline: 0px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: black;
    box-shadow: -2px -2px 18px rgba(255,255,255,0.25);
  }
}

/* Navbar */
.navbar {
  padding: 1rem 0;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 2;

  .container {
    display: flex;
    align-items: center;
  }

  .navbar-menu {
    margin-left: auto;
    a {
      color: white;
      font-weight: bold;
      font-size: 1.1rem;
      text-decoration: none;
      position: relative;
      padding-left: .5rem;
      padding-right: .5rem;

      &:hover::after, &.active::after {
          display: block;
          content: '';
          border-bottom: 2px solid rgba(255,255,255,0.5);
          width: 100%;
          height: 2px;
          position: absolute;
          z-index: 2;
          bottom: -5px;
          right: 0;
      }
    }
    a:not(:last-of-type) {
      margin-right: 1.5rem;
    }
  }
  &.about .navbar-menu{
    a {
      color: $dark-gray;
      &:hover::after, &.active::after {
        border-bottom-color: $med-gray;
      }
    }
  }
}